<header class="header">
  <nav class="nav nav--tours">
    <a class="nav__el" href="/">All tours</a>
  </nav>

  <div class="header__logo">
    <img src="/img/logo-white.png" alt="Voya logo" />
  </div>

  <nav class="nav nav__user">
    <a class="nav__el" href="#">My bookings</a>
    <a class="nav__el" href="#">
      <img
        class="nav__user-img"
        src="/img/users/default.jpg"
        alt="User photo"
      />
      <span>Toshita</span>
    </a>
    <a class="nav__el" href="/login">Log in</a>
    <a class="nav__el nav__el--cta" href="#">Sign up</a>
  </nav>
</header>
