<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
    />
    <!-- <title>Voya | Exciting tours for adventurous people</title> -->
    <title>Voya | <%= title %></title>

    <!-- <% if (typeof includeMapbox !== 'undefined' && includeMapbox) { %>
      <link
        href="https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css"
        rel="stylesheet"
      />
      <script src="https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js"></script>
    <% } %> -->

    <% if (typeof includeMap !== 'undefined' && includeMap) { %>
      <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""
      />
    <% } %>


  </head>
  <body>
    <!-- HEADER -->
    <%- include('partials/header') %>

    <!-- CONTENT -->
    <%- body %>

    <!-- FOOTER -->
    <%- include('partials/footer') %>

    <!-- <% if (typeof includeMapbox !== 'undefined' && includeMapbox) { %>
      <script src="/js/mapbox.js"></script>
    <% } %> -->
    <% if (typeof includeMap !== 'undefined' && includeMap) { %>
      <script
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""
      ></script>
      <script src="/js/leaflet.js"></script>
    <% } %>

  </body>
</html>
